[Unit]
Description=Timed resync
After=psd.service
PartOf=psd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/profile-sync-daemon resync

[Install]
WantedBy=default.target
