[Unit]
Description=Timed resync
After=psd.service
BindsTo=psd.service

[Service]
Slice=background.slice
Type=oneshot
ExecStart=/usr/bin/profile-sync-daemon resync
Environment=LAUNCHED_BY_SYSTEMD=1
