[Unit]
Description=Timed Profile-resync
Documentation=man:psd(1) man:profile-sync-daemon(1)
Documentation=https://wiki.archlinux.org/index.php/Profile-sync-daemon
After=psd.service
Wants=psd-resync.timer
PartOf=psd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/profile-sync-daemon resync

[Install]
WantedBy=default.target
