#!/sbin/runscript
# Copyright 1999-2012 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

description="Webbrowser profile syncing"
extra_commands="debug resync"

wait(){
    for pid in "$@"; do
        while kill -s 0 "$pid" 2>/dev/null; do
            sleep 0.5
        done
    done
}

start() {
	ebegin "Starting Profile-Sync-Daemon"
	if [ -z "$USERS" ]; then
		eerror "Define at least one user in /etc/conf.d/psd"
		return 1
	fi

	if [ ! -f "$PIDFILE" ]; then
		/usr/bin/profile-sync-daemon check || return 1
	fi

	start-stop-daemon \
		--start \
		--pidfile "${PIDFILE}" \
		--make-pidfile \
		--background \
		--exec /usr/bin/profile-sync-daemon -- sync

	wait $(cat "${PIDFILE}")

	eend $?
}

stop() {
	ebegin "Stopping Profile-Sync-Daemon"
	if [ ! -f "$PIDFILE" ]; then
		eerror "Profile-Sync-Daemon is not running, nothing to stop!"
		return 1
	else
		/usr/bin/profile-sync-daemon unsync
		rm -f "${PIDFILE}"
	fi
	eend $?
}

debug() {
	/usr/bin/profile-sync-daemon debug
}

resync() {
	ebegin "Syncing browser profiles in tmpfs to physical disc"
	if [ ! -f "$PIDFILE" ]; then
		eerror "Profile-Sync-Daemon is not running... cannot sync!"
		return 1
	else
		/usr/bin/profile-sync-daemon resync
	fi
	eend $?
}

status() {
	if [ ! -f "$PIDFILE" ]; then
		eerror "Profile-Sync-Daemon is not running"
	else
		einfo "Profile-Sync-Daemon is running"
	fi
	eend $?
}
