[Unit]
Description=Symlinks and syncs browser profile dirs to RAM thus reducing HDD/SDD calls and speeding-up browsers
Wants=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/psd start
ExecStop=/etc/rc.d/psd stop

[Install]
WantedBy=multi-user.target
