[Unit]
Description=Profile-sync-daemon
Wants=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/profile-sync-daemon sync
ExecStop=/usr/bin/profile-sync-daemon unsync

[Install]
WantedBy=multi-user.target
